canvas {
  left: 30vw;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}
#mainContent {
  height: 200vh;
  z-index: 2;
  position: relative;
  text-align: center;
  margin-top: 100vh;
}
