/* <<<<<<<<<<<<<<<<<<<<<<<<<<<< GENERAL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
* {
  z-index: 99;
  position: relative;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YoungSerif";
  src: url("YoungSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Audiowide";
  src: url("Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-image: url(skyos.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  background-color: #e2e2e2; /* Adjusted to a lighter shade */
  font-family: "Poppins", sans-serif;
  color: #403f4c; /* Drone's primary gray color */
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(239, 230, 221, 0.5);
  pointer-events: none;
} */

/* Highlighted text styles */
.highlight {
  color: #a9241a; /* Drone's red color */
  font-weight: bold;
}

/* Button styles */
.btn {
  background-color: #a9241a; /* Drone's red color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #8a1e15; /* Darkened Drone's red color */
}

.glowing {
  background-image: linear-gradient(
    to bottom,
    white,
    90%,
    #f7d7a8
  ); /* Transition from gold to red */
  color: transparent; /*Makes the text color transparent so only the background shows */
  -webkit-background-clip: text; /* Applies the background only to the text */
  background-clip: text;

  /* Subtle outward glow */
  filter: drop-shadow(0 0 3px #ffbc58);
  text-transform: uppercase;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<< HEADER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
/* Header styles */
header {
  background: transparent;
  color: white; /* White text */
  padding-top: 5vh;
  text-align: left;
  font-size: 1vw;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  justify-content: space-between;
  /* backdrop-filter: blur(5px); */
  text-align: center;
}

header a {
  text-decoration: none;
  color: white;
}

header h1 {
  color: white !important;
  font-size: 1.2vw;
  background: none;
  font-family: "Audiowide", sans-serif;
  text-decoration: underline;
}

header h1::before,
header h1::after {
  content: "";
  position: absolute;
  background-color: white; /* or whichever color you prefer for the lines */
  height: 2px; /* adjust for desired thickness */
  width: 5%; /* adjust for desired length */
  top: 1vw;
  box-shadow: 0 0 8px #ffbc58;
}

header h1::before {
  left: 38vw;
  transform: translateY(-100%);
}

header h1::after {
  right: 38vw;
  transform: translateY(-100%);
}

#headerLinks {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1vw;
}

.icon {
  margin-left: 4vw;
  margin-bottom: 1vw;
  width: 7vw;
  border-radius: 10px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<< 3D MODEL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */

/* 3D model canvas styles */
canvas {
  width: 40vw !important; /* Resize the canvas to 1/3 of the viewport */
  height: 40vw !important;
  margin: auto auto;
  position: fixed;
  top: 8vw;
  left: 30vw;
  z-index: 0;
}

/* 3D model canvas styles */
#placeholderImage {
  width: 40vw !important; /* Resize the canvas to 1/3 of the viewport */
  height: 40vw !important;
  margin: auto auto;
  position: fixed;
  top: 8vw;
  left: 30vw;
}

#placeholderImage,
#3d-container {
  transition: opacity 0.5s ease-out;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<< EXPLORE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
/* Text content styles */
#explore {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.explore-video {
  width: 33vw;
  height: 15vw;
  display: none;
}

/* Style the video controls */
video::-webkit-media-controls {
  display: none; /* Hide the default controls */
}

/* Style the custom controls on mouseover */
video:hover::-webkit-media-controls {
  display: flex; /* Show controls on hover */
}

.text-content {
  text-align: center;
  width: 33vw;
}

.text-content h2 {
  color: white; /* Drone's gold color */
  font-size: 28px;
}

.text-content p {
  color: transparent; /* White text color */
  font-size: 22px;
  line-height: 1.5;
  text-transform: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<< NEWSLETTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */

/* Main container */
.container {
  display: flex; /* Using flexbox to align the sections horizontally */
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;

  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: padding-box;
  box-shadow: inset 0 0 1px 3px rgba(20, 19, 25, 1),
    inset 0 0 5px 3px rgba(20, 19, 25, 1),
    inset 0 0 10px 3px rgba(20, 19, 25, 1), 0 0 5px #ffbc58;
  width: 50%; /* Adjust the width as needed */
  overflow: clip;
  overflow-clip-margin: 2px;
  z-index: unset;
}

.container::before {
  content: "";
  position: absolute;
  top: -3px; /* equal to negative border-width */
  left: -3px; /* equal to negative border-width */
  right: -3px; /* equal to negative border-width */
  bottom: -3px; /* equal to negative border-width */
  border: 6px solid;
  border-image: linear-gradient(to top right, #ffbc58, white) 2;
  z-index: -1;
}

.container:hover {
  cursor: pointer;
}

/* Individual sections */
.section {
  color: #fff; /* White text color */
  font-size: 18px; /* Adjust font size as needed */
  background: transparent;
  font-weight: 500;
  width: 100%;
  text-shadow: 0 0 5px #ffbc58;
  border-bottom: 1px solid white;
  box-shadow: 0 0px 5px #ffbc58;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-image: linear-gradient(
    to left,
    rgba(20, 19, 25, 0.05),
    rgba(20, 19, 25, 0.95)
  );
}

.section:first-child {
  border-radius: 10px 10px 0 0;
}

.section p {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}

/* Remove margin for the last section */
.section:last-child {
  border-bottom: none;
  margin-bottom: 0;
  border-radius: 0 0 10px 10px;
}

.section:hover {
  text-shadow: 0 0 10px #ffbc58;
}

/* Newsletter section styles */
#newsletter {
  color: white; /* White text color */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
  margin: 0 auto 6vw;
}

/* Newsletter title styles */
.newsletter-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

/* Newsletter content styles */
.newsletter-content {
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: scaleY(0.1) scaleX(0.5) translateY(-700%);
  transition-property: opacity, transform, visibility, pointer-events;
  transition-duration: 0.25s, 0.25s, 0.25s, 0.25s;
  transition-timing-function: linear, linear, linear, linear;
  pointer-events: none;
  z-index: 1;
  position: unset;
}

.newsletter-content p {
  font-size: 16px;
}

.newsletter-content p::after {
  content: "";
  position: absolute;
  background-color: white; /* or whichever color you prefer for the lines */
  height: 1px; /* adjust for desired thickness */
  width: 50%; /* adjust for desired length */
  bottom: -1vh;
  left: 25%;
  box-shadow: 0 0 8px #ffbc58;
}

/* Newsletter icon styles (adjust size as needed) */
.newsletter-icon {
  width: 4vw;
  filter: drop-shadow(0 0 5px #ffbc58);
  display: none;
}

/* Container for the input */
.inputContainer {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background: transparent;
  background-image: linear-gradient(
    to bottom left,
    rgba(20, 19, 25, 0.05),
    rgba(20, 19, 25, 0.95)
  );
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: padding-box;
  box-shadow: inset 0 0 1px 3px rgba(20, 19, 25, 1),
    inset 0 0 5px 3px rgba(20, 19, 25, 1),
    inset 0 0 10px 3px rgba(20, 19, 25, 1), 0 0 5px #ffbc58;
  width: 90%;
  position: relative; /* Important to position the ::before pseudo-element */
  overflow: clip;

  overflow-clip-margin: 2px;
  z-index: unset;
  padding: 8px 4px;
  margin-top: 6px;
}

.inputContainer::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 6px solid;
  border-image: linear-gradient(to top right, #ffbc58, white) 2;
  z-index: -1;
}

.newsletter-input {
  width: 80%;
  height: 20px;
  font-size: inherit; /* Inherit the font-size from the container */
  border: none; /* Remove default input borders */
  background: transparent; /* Make the input background transparent */
  outline: none; /* Remove the default outline */
  padding: 5px; /* Optional, add some padding for better visuals */
  color: white;
  text-shadow: 0 0 5px #ffbc58;
}

/* Styles for the input box when it's focused */
.newsletter-input:focus {
  /* Remove default browser focus styles */
  outline: none;

  color: white;
}

.newsletter-input::placeholder {
  color: white; /* White text color */
}

.mail {
  filter: drop-shadow(0 0 5px #ffbc58);
}

.newsletter-btn::before {
  content: "";
  position: absolute;
  background-color: white; /* or whichever color you prefer for the lines */
  height: 1px; /* adjust for desired thickness */
  width: 75%; /* adjust for desired length */
  top: -1vw;
  left: 12.5%;
  box-shadow: 0 0 8px #ffbc58;
}

/* Newsletter subscribe button styles (rounded and custom colors) */
.newsletter-btn {
  width: 100%;
  color: white; /* Drone's primary gray color */
  border: double 2px transparent;
  border-radius: 100px;
  background-image: linear-gradient(to bottom left, white, 10%, #bb4430),
    linear-gradient(to top right, #bb4430, 50%, rgb(255, 188, 88), white);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  cursor: pointer;
  font-size: 36px;
  font-weight: 500;
  outline: none;
  text-shadow: 0 0 5px #ffbc58;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 0 3px #ffbc58);
  margin-top: 2vw;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter-btn:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom left, white, 10%, #9f3a26),
    linear-gradient(to top right, rgb(255, 188, 88), white);
  box-shadow: 0 0 10px #ffbc58;
  text-shadow: 0 0 10px #ffbc58;
}

.newsletter-btn p {
  height: 60px;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
  line-height: normal;
  background-image: linear-gradient(
    to bottom left,
    white,
    70%,
    #ffbc58
  ); /* Transition from gold to red */
  text-shadow: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-btn p:hover {
  background-image: linear-gradient(
    to bottom left,
    white,
    80%,
    #ffbc58
  ); /* Transition from gold to red */
}

.newsletter-btn p::after {
  display: none;
}

#version1 {
  border-radius: 10px;
  background: transparent;
  background-image: linear-gradient(
    to bottom left,
    rgba(20, 19, 25, 0.2),
    rgba(20, 19, 25, 0.8)
  );
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: padding-box;
  box-shadow: inset 0 0 1px 3px rgba(20, 19, 25, 1),
    inset 0 0 5px 3px rgba(20, 19, 25, 1),
    inset 0 0 10px 3px rgba(20, 19, 25, 1), 0 0 5px #ffbc58;
  position: absolute; /* Important to position the ::before pseudo-element */
  overflow: clip;
  top: 80px;

  overflow-clip-margin: 2px;
  z-index: 2;
  opacity: 0;
  transform: scaleY(0.1) scaleX(0.5) translateX(-200%) translateY(-400%);
  transition-property: opacity, transform, visibility, pointer-events;
  transition-duration: 0.25s, 0.25s, 0.25s, 0.25s;
  transition-timing-function: linear, linear, linear, linear;

  visibility: hidden;
  pointer-events: none;
}

#version1::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 6px solid;
  border-image: linear-gradient(to top right, #ffbc58, white) 2;
  z-index: -1;
}

.visible {
  opacity: 1 !important;
  transform: scaleX(1) translateX(0) scaleY(1) translateY(0) !important;
  visibility: visible !important;
  pointer-events: auto !important;
}

#version1threeDcontainer canvas {
  position: relative;
  width: 50% !important;
  height: 50% !important;
  top: auto;
  left: auto;
  z-index: unset;
}

#version1 p {
  font-size: unset;
  width: 90%;
  margin: 0 auto 16px auto;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<< SUPPORT US >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
/* Support Us section styles */
#support-us {
  text-align: center;
  border-radius: 10px; /* Rounded corners */
  width: 33vw;
  margin: 0 auto 6vw;
  padding-left: 1vw;
}

/* Icon styles */
#support-us .icon {
  margin: 0;
  width: 4vw; /* Adjust icon size as needed */
  filter: drop-shadow(0 0 5px #ffbc58);
  display: none;
}

/* Title styles */
#support-us h2 {
  color: white; /* Orange text color */
  font-family: "Poppins", sans-serif;
  font-size: 28px;
}

/* Description styles */
#support-us p {
  color: transparent; /* White text color */
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 2vw;
  text-transform: none;
}

/* Newsletter subscribe button styles (rounded and custom colors) */
#support-us .btn-orange {
  background-color: #ffbc58; /* Drone's gold color */
  color: white; /* Drone's primary gray color */
  padding: 10px 20px;
  border: double 2px transparent;
  border-radius: 100px;
  background-image: linear-gradient(to bottom left, white, 10%, #ffbc58),
    linear-gradient(to top right, rgb(255, 188, 88), white);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  text-shadow: 0 0 5px #ffbc58;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 0 3px #ffbc58);
  margin-top: 1vw;
  text-decoration: none;
}

#support-us .btn-orange:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to bottom left,
      white,
      10%,
      rgb(230, 164, 77)
    ),
    linear-gradient(to top right, rgb(255, 188, 88), white);
  background-color: rgb(230, 164, 77); /* Darkened Drone's gold color */
  box-shadow: 0 0 10px #ffbc58;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<< SOCIAL MEDIA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */

/* Social Media Icons */
.social-media-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  width: 50%;
}

/* Container for the input */
.social-icon {
  height: 60px;
  width: 60px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background: transparent;
  background-image: linear-gradient(
    to bottom left,
    rgba(20, 19, 25, 0.2),
    rgba(20, 19, 25, 0.8)
  );
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: padding-box;
  box-shadow: inset 0 0 1px 3px rgba(20, 19, 25, 1),
    inset 0 0 5px 3px rgba(20, 19, 25, 1),
    inset 0 0 10px 3px rgba(20, 19, 25, 1), 0 0 5px #ffbc58;
  position: relative; /* Important to position the ::before pseudo-element */
  overflow: clip;

  overflow-clip-margin: 2px;
  z-index: unset;
}

.social-icon::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 6px solid;
  border-image: linear-gradient(to top right, #ffbc58, white) 2;
  z-index: -1;
}

/* For the SVG icon */
.social-icon img {
  width: 30px; /* Adjust as needed */
  height: 30px;
  filter: drop-shadow(0 0 5px #ffbc58);
}

.social-icon a {
  width: 30px; /* Adjust as needed */
  height: 30px;
}

.social-icon:hover {
  box-shadow: inset 0 0 1px 3px rgba(20, 19, 25, 1),
    inset 0 0 10px 3px rgba(20, 19, 25, 1), 0 0 10px #ffbc58;
}
.social-icon img:hover {
  filter: drop-shadow(0 0 10px #ffbc58);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<< MEDIA QUERIES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */

@media (max-width: 768px) {
  /* CSS styles for screens smaller than 768px (typically smartphones) */
  body {
    background-position: 75% 50%;
  }
  header h1 {
    font-size: 4vw;
  }
  header {
    font-size: 3vw;
    backdrop-filter: blur(5px);
  }
  header h1::before,
  header h1::after {
    top: 3vw;
  }

  header h1::before {
    left: 25vw;
  }

  header h1::after {
    right: 25vw;
  }
  .icon {
    width: 20vw;
  }
  canvas {
    width: 92vw !important;
    max-width: 92vw !important;
    height: 92vw !important;
    top: 8vw;
    left: 4vw;
  }
  /* 3D model canvas styles */
  #placeholderImage {
    width: 92vw !important; /* Resize the canvas to 1/3 of the viewport */
    height: 92vw !important;
    top: 8vw;
    left: 4vw;
  }
  #explore {
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto 20vw;
    padding-top: 12vw;
    height: fit-content;
  }
  .explore-video {
    width: 92vw;
    height: 61vw;
  }
  .text-content {
    text-align: center;
    width: 92vw;
  }
  #support-us {
    width: 92vw;
    margin: 0 auto 20vw;
    padding-top: 30vw;
  }
  #support-us p {
    margin-bottom: 10vw;
  }
  #support-us .icon {
    width: 15vw; /* Adjust icon size as needed */
  }
  #newsletter {
    width: 92vw;
    margin: 0 auto 20vw;
    padding-top: 12vw;
  }
  .newsletter-icon {
    width: 15vw;
  }
  .newsletter-btn {
    margin-top: 10vw;
  }
}
